@page
@model MyApp.Namespace.indexModel

<div class='Container'>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var template in Model.emailTemplates){
        <tr>
            <th scope="row">1</th>
            <td>22333332</td>
            <td>Otto</td>
            <td>@template.Subject</td>
        </tr>
    }
  </tbody>
</table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.pageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="?pageNumberParam=@(Model.pageNumber - 1)&pageSizeParam=@Model.pageSize" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                @*Calculate Gap Between Current Index And Current Page*@
                int gap = Math.Abs(i - Model.pageNumber);


                @*Still Display First And Last Page*@
                if (i == 1 || i == Model.TotalPages)
                {
                    <li class="page-item @(Model.pageNumber == i ? "active" : "")">
                        <a class="page-link" href="?pageNumberParam=@i&pageSizeParam=@Model.pageSize">@i</a>
                    </li>
                }
                @*Hide Button Gap Many Step With Current Page*@
                else if(gap > 3)
                {
                    @*Gap > 3 (The first match will be display three dots, else (gap > 4) will be hide by bootstrap class name)*@
                    <li class="page-item @(gap > 4 ? "d-none" : "")">
                        ...
                    </li>
                }
                else{
                    <li class="page-item @(Model.pageNumber == i ? "active" : "")">
                        <a class="page-link" href="?pageNumberParam=@i&pageSizeParam=@Model.pageSize">@i</a>
                    </li>
                }
               
            }
            <li class="page-item @(Model.pageNumber == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="?pageNumberParam=@Model.TotalPages&pageSizeParam=@Model.pageSize" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
