@page
@model PRN221_GroupProject.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    <img src="~/img/Product/@item.ImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Detail" asp-route-ProductId="@item.ProductId">Detail</a> |
                    <a asp-page="./AddColors" asp-route-ProductId="@item.ProductId">Add Color</a> |


                </td>
            </tr>
        }
    </tbody>
</table>
