@page
@model PRN221_GroupProject.Pages.Categories.IndexModel
@using PRN221_GroupProject.Repository.Users
@inject IUserRepository _userRepo

@{
    ViewData["Title"] = "Index";
}
<div style="margin: 100px 40px 40px 40px;">


    <h1>List Of Categories</h1>


    <div class="Container mt-5">
        <div class="action_bar d-flex justify-content-between">
            <form method="get" id="searchForm">
                <div class="search_bar w-100 d-flex justify-content-between">
                    <div class="w-75">
                        <input name="searchtermParam" autofocus value="@Model.searchtearm" id="searchInput"
                               class="form-control mr-sm-2" type="search" placeholder="Search">
                    </div>
                    <div class="Filter_Dropdown ms-2">
                        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button"
                                id="dropdownMenuButton1" aria-expanded="false">
                            Filter
                        </button>
                        @* Filter dropdown *@
                        <ul class="dropdown-menu filter-dropdown p-2" aria-labelledby="dropdownMenuButton1" id="selectFilterDD">
                            @* Type *@
                            <li>
                                <button id="TypeMenu" class="dropdown-btn active" type="button">
                                    Type
                                    <i class="fa fa-caret-right"></i>
                                </button>
                                <div class="dropdown-container">
                                    <br />
                                    <label class="w-75">Device</label><input checked="@(Model.Type != null && Model.Type.Contains("Device"))"
                                                                             class="form-check-input" type="checkbox" value="Device"
                                                                             name="TypeParam"><br /><br />
                                    <label class="w-75">Brand</label><input checked="@(Model.Type != null && Model.Type.Contains("Brand"))"
                                                                            class="form-check-input" type="checkbox" value="Brand"
                                                                            name="TypeParam"><br /><br />
                                    <label class="w-75">Color</label><input checked="@(Model.Type != null && Model.Type.Contains("Color"))"
                                                                            class="form-check-input" type="checkbox" value="Color"
                                                                            name="TypeParam"><br /><br />
                                </div>
                            </li>
                            @* Status *@
                            <li>
                                <button id="StatusMenu" class="dropdown-btn" type="button">
                                    Status
                                    <i class="fa fa-caret-right"></i>
                                </button>
                                <div class="dropdown-container">
                                    <br />
                                    <label class="w-75">Active</label><input checked="@(Model.statuses != null && Model.statuses.Contains("True"))"
                                                                             class="form-check-input" type="checkbox" value="True"
                                                                             name="statusesParam"><br /><br />
                                    <label class="w-75">InActive</label><input checked="@(Model.statuses != null && Model.statuses.Contains("False"))"
                                                                               class="form-check-input" type="checkbox" value="False"
                                                                               name="statusesParam"><br /><br />
                                </div>
                            </li>
                            @* Filter's button group *@
                            <div class="button_group d-flex justify-content-end">
                                <button class="btn btn-secondary" id="cancelFilter" type="button">Cancel</button>
                                <button class="btn btn-primary ms-2" type="submit">Apply</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </form>
            
            @* Action button group *@
            <div class="button_group">
                <a asp-page="/Admin/Categories/create" class="btn btn-primary">Add New</a>
                @Html.AntiForgeryToken()
                <button class="btn btn-warning" onclick="ExportExcel()">Export</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ImportModel">
                    Import
                </button>


                <!-- Modal -->
                <div class="modal fade" id="ImportModel" tabindex="-1" aria-labelledby="ImportModel" aria-hidden="true">
                    <form method="post" asp-page-handler="UploadExcel" enctype="multipart/form-data">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Import Categories</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="emailSendPopupBody">
                                    <div class="form-group">
                                        <label for="formFile" class="col-form-label">Select File: </label>
                                        <input type="file" name="excelFile" class="form-control" id="formFile">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Import</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        @* Data Table *@
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">
                        <a asp-page="./Index" asp-route-sortByParam="name" asp-route-sortOrderParam="@Model.sortOrder"
                           asp-route-statusesParam="@string.Join(",", Model.statuses)"
                           asp-route-TypeParam="@string.Join(",", Model.Type)"
                           asp-route-searchtermParam="@Model.searchtearm"
                           asp-route-currentSortByParam="@Model.currentSortBy"
                           asp-route-pageNumberParam="@Model.pageNumber" asp-route-pageSizeParam="@Model.pageSize"
                           class="sort-button text-decoration-none @(Model.currentSortBy == "name" ? Model.sortOrder : "")">
                            Name
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </th>

                    <th scope="col" class="text-center">
                        <a asp-page="./Index" asp-route-sortByParam="status" asp-route-sortOrderParam="@Model.sortOrder"
                           asp-route-statusesParam="@string.Join(",", Model.statuses)"
                           asp-route-TypeParam="@string.Join(",", Model.Type)"
                           asp-route-searchtermParam="@Model.searchtearm"
                           asp-route-currentSortByParam="@Model.currentSortBy"
                           asp-route-pageNumberParam="@Model.pageNumber" asp-route-pageSizeParam="@Model.pageSize"
                           class="sort-button text-decoration-none @(Model.currentSortBy == "status" ? Model.sortOrder : "")">
                            Status
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </th>

                    <th scope="col" class="text-center">
                        <a asp-page="./Index" asp-route-sortByParam="type" asp-route-sortOrderParam="@Model.sortOrder"
                           asp-route-statusesParam="@string.Join(",", Model.statuses)"
                           asp-route-TypeParam="@string.Join(",", Model.Type)"
                           asp-route-searchtermParam="@Model.searchtearm"
                           asp-route-currentSortByParam="@Model.currentSortBy"
                           asp-route-pageNumberParam="@Model.pageNumber" asp-route-pageSizeParam="@Model.pageSize"
                           class="sort-button text-decoration-none @(Model.currentSortBy == "type" ? Model.sortOrder : "")">
                            Type
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </th>

                    <th scope="col" class="text-center">
                        <a asp-page="./Index" asp-route-sortByParam="createdBy" asp-route-sortOrderParam="@Model.sortOrder"
                           asp-route-statusesParam="@string.Join(",", Model.statuses)"
                           asp-route-TypeParam="@string.Join(",", Model.Type)"
                           asp-route-searchtermParam="@Model.searchtearm"
                           asp-route-currentSortByParam="@Model.currentSortBy"
                           asp-route-pageNumberParam="@Model.pageNumber" asp-route-pageSizeParam="@Model.pageSize"
                           class="sort-button text-decoration-none @(Model.currentSortBy == "createdBy" ? Model.sortOrder : "")">
                            Created By
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </th>

                    <th scope="col" class="text-center">
                        <a asp-page="./Index" asp-route-sortByParam="createdAt" asp-route-sortOrderParam="@Model.sortOrder"
                           asp-route-statusesParam="@string.Join(",", Model.statuses)"
                           asp-route-TypeParam="@string.Join(",", Model.Type)"
                           asp-route-searchtermParam="@Model.searchtearm"
                           asp-route-currentSortByParam="@Model.currentSortBy"
                           asp-route-pageNumberParam="@Model.pageNumber" asp-route-pageSizeParam="@Model.pageSize"
                           class="sort-button text-decoration-none @(Model.currentSortBy == "createdAt" ? Model.sortOrder : "")">
                            Created Date
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @if (Model.Category.Count > 0)
                {
                    @foreach (var template in Model.Category)
                    {
                        <tr onclick="document.location.href='/Admin/Categories/detail?Categoryid=@template.CategoryId';return false;">
                            <th scope="row">@index</th>
                            <td class="text-center">@template.Name</td>
                            @if (template.Status)
                            {
                                <td class="text-center">
                                    <span class="status-button"
                                          style="padding: 6px 9px; border-radius: 4px ; background-color: #28a745; color: #fff;">Active</span>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <span class="status-button"
                                          style="padding:7px 10px; border-radius: 4px; background-color: #6c757d; color: #fff;">InActive</span>
                                </td>
                            }
                            <td class="text-center">@template.Type</td>
                            <td class="text-center">@(await _userRepo.GetUserNameById(template.CreatedBy))</td>
                            <td class="text-center">@template.CreatedAt.ToShortDateString()</td>
                        </tr>
                        index++;
                    }
                }

            </tbody>
        </table>

        @* pagination *@
        <nav aria-label="Page navigation example" class="d-flex justify-content-between mh-75 align-items-center">
            <div class="w-1 h-1"></div>
            <ul class="pagination ">
                @{
                    string statusesQueryString = string.Join("&", Model.statuses?.Select((status, index) =>
                    $"statusesParam{(status.Equals("True") ? "=True" : "=False")}"));
                }

                @{
                    string categoriesQueryString = string.Join("&", Model.Type?.Select((type, index) =>
                    $"TypeParam={type}"));
                }
                <li class="page-item @(Model.pageNumber == 1 ? "disabled" : "")">
                    <a class="page-link"
                       href="?pageNumberParam=@(Model.pageNumber - 1)&pageSizeParam=@Model.pageSize
                       @(statusesQueryString.Length > 0 ? "&" + statusesQueryString : "")
                       @(categoriesQueryString.Length > 0 ? "&" + categoriesQueryString : "" )
                       @(Model.searchtearm?.Length > 0 ? "&searchtermParam=" + Model.searchtearm : "" )
                       &keepSort=True&currentSortByParam=@Model.currentSortBy&sortByParam=@Model.currentSortBy&sortOrderParam=@Model.sortOrder"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {

                    @*Calculate Gap Between Current Index And Current Page*@
                    int gap = Math.Abs(i - Model.pageNumber);


                    @*Still Display First And Last Page*@
                    if (i == 1 || i == Model.TotalPages)
                    {
                        <li class="page-item @(Model.pageNumber == i ? "active" : "")">
                            <a class="page-link"
                               href="?pageNumberParam=@i&pageSizeParam=@Model.pageSize
                               @(statusesQueryString.Length > 0 ? "&" + statusesQueryString : "")
                               @(categoriesQueryString.Length > 0 ? "&" + categoriesQueryString : "" )
                               @(Model.searchtearm?.Length > 0 ? "&searchtermParam=" + Model.searchtearm : "" )
                               &keepSort=True&currentSortByParam=@Model.currentSortBy&sortByParam=@Model.currentSortBy&sortOrderParam=@Model.sortOrder">@i</a>
                        </li>
                    }
                    @*Hide Button Gap Many Step With Current Page*@
                    else if (gap > 3)
                    {
                        @*Gap > 3 (The first match will be display three dots, else (gap > 4) will be hide by bootstrap class
                name)*@
                        <li class="page-item @(gap > 4 ? "d-none" : "")">
                            ...
                        </li>
                    }
                    else
                    {
                        <li class="page-item @(Model.pageNumber == i ? "active" : "")">
                            <a class="page-link"
                               href="?pageNumberParam=@i&pageSizeParam=@Model.pageSize
                               @(statusesQueryString.Length > 0 ? "&" + statusesQueryString : "")
                               @(categoriesQueryString.Length > 0 ? "&" + categoriesQueryString : "" )
                               @(Model.searchtearm?.Length > 0 ? "&searchtermParam=" + Model.searchtearm : "" )
                               &keepSort=True&currentSortByParam=@Model.currentSortBy&sortByParam=@Model.currentSortBy&sortOrderParam=@Model.sortOrder">@i</a>
                        </li>
                    }

                }
                <li class="page-item @(Model.pageNumber == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link"
                       href="?pageNumberParam=@Model.TotalPages&pageSizeParam=@Model.pageSize
                       @(statusesQueryString.Length > 0 ? "&" + statusesQueryString : "")
                       @(categoriesQueryString.Length > 0 ? "&" + categoriesQueryString : "" )
                       @(Model.searchtearm?.Length > 0 ? "&searchtermParam=" + Model.searchtearm : "" )
                       &keepSort=True&currentSortByParam=@Model.currentSortBy&sortByParam=@Model.currentSortBy&sortOrderParam=@Model.sortOrder"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>

            <select id="PageSize" class="mh-30px">
                @for (int i = 1; i <= 5; i++)
                {
                    int value = i * 5;
                    <option selected="@(value == Model.pageSize)" value="@value">@value</option>
                }
            </select>
        </nav>
    </div>
</div>

@section Scripts {
    @* Change row perpage *@
    <script>
        
        document.getElementById('PageSize').addEventListener('change', function () {
            var selectedPageSize = this.value;
            
            var status = `@statusesQueryString`;
            var category = `@categoriesQueryString`;
            var searchTerm = `@Model.searchtearm`;

            var newURL = `/admin/Categories?pageNumberParam=@Model.pageNumber&pageSizeParam=${selectedPageSize}&keepSort=True&currentSortByParam=@Model.currentSortBy&sortByParam=@Model.currentSortBy&sortOrderParam=@Model.sortOrder`;
            if (status) {
                newURL += `&${status}`;
            }
            if (category) 
            {
                newURL += `&${category}`;

            }
            if (searchTerm) {
                newURL += `&searchtermParam=${searchTerm}`;
            }
            window.location.href = newURL;

        });
    </script>

    @* Drop down menu *@
    <script>
        function toggleMenu() {
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;
            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (!this.classList.contains("active")) {
                        saveStateLCS(this.id, false)
                        dropdownContent.style.display = "none";
                        this.querySelector("i").classList.remove("fa-caret-down");
                        this.querySelector("i").classList.add("fa-caret-right");
                    } else {
                        saveStateLCS(this.id, true)
                        dropdownContent.style.display = "block";
                        this.querySelector("i").classList.remove("fa-caret-right");
                        this.querySelector("i").classList.add("fa-caret-down");
                    }
                });
            }
        }
        toggleMenu()

        //Save menu state into local storage
        function saveStateLCS(id, value) {
            localStorage.setItem(id, value);
        }

        //Get menu state from local storage when app start
        function GetStateFromLCS() {
            var dropdown = document.getElementsByClassName("dropdown-btn");
            for (i = 0; i < dropdown.length; i++) {
                let state = localStorage.getItem(dropdown[i].id);
                if (state == "true") {
                    dropdown[i].classList.add("active")
                    console.log("test")
                } else {
                    dropdown[i].classList.remove("active")
                }
            }
        }
        GetStateFromLCS()



        // Get the cancel butto
        const cancelBtn = document.getElementById('cancelFilter');

        cancelBtn.addEventListener('click', function () {
            $('input[type="checkbox"]:checked').prop('checked', false);
        });

    </script>


    @* Prevent close menu click inside bootstrap *@
    <script>
        document.querySelector('#selectFilterDD').addEventListener('click', function (event) {
            event.stopPropagation();
        });
    </script>

    @* Search *@
    <script>
        // Get the search input field
        const searchInput = document.getElementById('searchInput');

        // Set focus if value exist
        if (searchInput && searchInput.value) {
            searchInput.focus(); //sets focus to element

            //Set text cursor end of line
            var val = searchInput.value; //store the value of the element
            searchInput.value = ''; //clear the value of the element
            searchInput.value = val; //set that value back.
        }

        // Add an event listener for the input event
        searchInput.addEventListener('input', function () {
            // Get the form
            const form = document.getElementById('searchForm');
            // Submit the form
            form.submit();
        });
    </script>

    @* Export Excel *@
    <script>
        function ExportExcel() {
            var selectedPageSize = this.value;
            var statusQueryString = '@statusesQueryString'
            var categoriesQueryString = '@categoriesQueryString'
            var seachTerm = '@Model.searchtearm'
            var href = `/admin/Categories?handler=ExportExcel&pageNumberParam=@Model.pageNumber&pageSizeParam=@Model.pageSize`;
            if (statusQueryString) {
                href += `&${statusQueryString}`
            }
            if (categoriesQueryString) {
                href += `&${categoriesQueryString}`
            }
            if (seachTerm) {
                href += `&searchtermParam=${seachTerm}`
            }
            window.location.href = href;
        }
    </script>

    @* Sort Icon *@
    <script>
        function SortIcon() {
            var sortButton = document.getElementsByClassName("sort-button");
            for (i = 0; i < sortButton.length; i++) {
                if (sortButton[i].classList.contains("asc")) {
                    sortButton[i].querySelector("i").classList.remove("fa-bars")
                    sortButton[i].querySelector("i").classList.add("fa-arrow-down-short-wide")
                } else if (sortButton[i].classList.contains("desc")) {
                    sortButton[i].querySelector("i").classList.remove("fa-arrow-down-short-wide")
                    sortButton[i].querySelector("i").classList.add("fa-arrow-down-wide-short")
                }
            }
        }
        SortIcon();
    </script>
}



